.row{
    width: 20%;
    height: 970px;
    background-color: black;
    margin-left: 0;
    position: fixed;
}
.row .col-3{
    width: 100%;
    height: 100%;
}
.col-3 .rowSuperior{
    width: 100%;
    height: 25%;

}

#cuadroContenedorLogo{
    width: 180px;
    height: 180px;
    border: 3px solid #ffD000;
    margin-top: 30px;
    
}
#logoPrincipal{
    padding: 5px;
}
.rowInferior{
    width: 100%;
    height: 45%;
}

.enlaces{
    font-size: 3vh;
    text-decoration: none;
    color: white;
    margin: 10px;
    
    
}
.enlaces:hover{
    color: #ffD000;
}