

.contenedor{
    background-color: #ffD000;
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;

}
.botonAgregar{
    background-color: rgba(0, 0, 0, 0.286);
    border: none;
    color: white;
    width:200px ;
    height: 40px;
    margin-top: 30px;
    margin-left: 50px;

}
#contendorTarjetas{
    display: flex;
    margin-top: 70px;
    margin-left: 20px;
}
#contenedorLineaDosTarjeta{
    display: flex;
    margin-top: 25px;
    margin-left: 20px;
}

.fotoBodas1, .fotoBodas2, .fotoBodas3, .fotoBodas4{
    margin-left: 20px;
    width: 280px;
    height: 250px;
    background-size: 100% 100%;
    position: relative;
    box-shadow: 5px 10px 0 rgba(164,161,161);
}
.fotoBodas1{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/metodologias-74d54.appspot.com/o/BODA%20(1).jpg?alt=media&token=1d8fd068-5f72-4861-9f3c-3cdf3b2a25dd");
}
.fotoBodas2{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/metodologias-74d54.appspot.com/o/BODA%20(2).jpg?alt=media&token=469112a4-83ce-4e44-9c02-2e53e2f6ebf2");
}
.fotoBodas3{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/metodologias-74d54.appspot.com/o/BODA%20(3).jpg?alt=media&token=590b9309-e40a-4033-8c2e-5dd72d72e5df");
}
.fotoBodas4{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/metodologias-74d54.appspot.com/o/BODA%20(4).jpg?alt=media&token=f8387db3-7efc-42ab-9d56-2c6cbd8b13db");
}


.barraIconos{
    background-color: rgba(255, 255, 255, 0.427);
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}
.botonIconoEditar{
    height: 100% ;
    border: none;
    background-color: transparent;
}
.iconoEditar{
    height: 90%;
    margin-left: 5px;
    margin-top: 5px;
}
.botonIconoEliminar{
    height: 100% ;
    border: none;
    background-color: transparent;
}
.iconoEliminar{
    height: 90%;
    margin-top: 5px;
}
