.contenedor{
    background-color: #ffD000;
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;

}
.botonAgregar{
    background-color: rgba(0, 0, 0, 0.286);
    border: none;
    color: white;
    width:200px ;
    height: 40px;
    margin-top: 30px;
    margin-left: 50px;

}
#contendorTarjetas{
    display: flex;
    margin-top: 70px;
    margin-left: 20px;
}
#contenedorLineaDosTarjeta{
    display: flex;
    margin-top: 25px;
    margin-left: 20px;
}

.fotoBebida1, .fotoBebida2, .fotoBebida3, .fotoBebida4, .fotoBebida5, .fotoBebida6{
    margin-left: 20px;
    width: 280px;
    height: 250px;
    background-size: 100% 100%;
    position: relative;
    box-shadow: 5px 10px 0 rgba(164,161,161);
}
.fotoBebida1{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/metodologiafinal-fdb18.appspot.com/o/BEBIDAS%20%20(1).jpg?alt=media&token=ec7411f5-1025-4838-bb9c-417657648899");
}
.fotoBebida2{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/metodologiafinal-fdb18.appspot.com/o/BEBIDAS%20%20(2).jpg?alt=media&token=97774178-7bf5-438e-aeb3-46fd594ddf34");
}
.fotoBebida3{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/metodologiafinal-fdb18.appspot.com/o/BEBIDAS%20%20(3).jpg?alt=media&token=9b76b92f-dbf0-44ba-882d-80b0d483a85b");
}
.fotoBebida4{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/metodologiafinal-fdb18.appspot.com/o/BEBIDAS%20%20(4).jpg?alt=media&token=e7ab5850-ffbb-49f1-8eb9-f3cf1c976f8e");
}
.fotoBebida5{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/metodologiafinal-fdb18.appspot.com/o/CERV%20(1).jpg?alt=media&token=b04f1d52-d74b-4618-8b57-1d1e1385c219");
}
.fotoBebida6{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/metodologiafinal-fdb18.appspot.com/o/CERV%20(3).jpg?alt=media&token=070a0482-083b-4e61-aa34-f170c2f176a7");
}

.barraIconos{
    background-color: rgba(255, 255, 255, 0.427);
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}
.botonIconoEditar{
    height: 100% ;
    border: none;
    background-color: transparent;
}
.iconoEditar{
    height: 90%;
    margin-left: 5px;
    margin-top: 5px;
}
.botonIconoEliminar{
    height: 100% ;
    border: none;
    background-color: transparent;
}
.iconoEliminar{
    height: 90%;
    margin-top: 5px;
}
