

.contenedor{
    background-color: #ffD000;
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;

}
.botonAgregar{
    background-color: rgba(0, 0, 0, 0.286);
    border: none;
    color: white;
    width:200px ;
    height: 40px;
    margin-top: 30px;
    margin-left: 50px;

}
#contendorTarjetas{
    display: flex;
    margin-top: 70px;
    margin-left: 20px;
}
#contenedorLineaDosTarjeta{
    display: flex;
    margin-top: 25px;
    margin-left: 20px;
}

.foto1, .foto2, .foto3, .foto4{
    margin-left: 20px;
    width: 280px;
    height: 250px;
    background-size: 100% 100%;
    position: relative;
    box-shadow: 5px 10px 0 rgba(164,161,161);
}
.foto1{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/proyecto-jsx.appspot.com/o/FOTO%20HEL%20(1).jpg?alt=media&token=34579dcb-64d3-45fb-aba8-6c6af5008ff3");
}
.foto2{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/proyecto-jsx.appspot.com/o/FOTO%20HEL%20(2).jpg?alt=media&token=8dbbbc77-45b7-4069-bbd2-a7e735cfe8f5");
}
.foto3{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/proyecto-jsx.appspot.com/o/FOTO%20HEL%20(3).jpg?alt=media&token=a544522c-f980-499e-9abd-d6ed62883f58");
}
.foto4{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/proyecto-jsx.appspot.com/o/FOTO%20HEL%20(4).jpg?alt=media&token=89a4070e-b31c-4a44-a1eb-b703226f4677");
}


.barraIconos{
    background-color: rgba(255, 255, 255, 0.427);
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}
.botonIconoEditar{
    height: 100% ;
    border: none;
    background-color: transparent;
}
.iconoEditar{
    height: 90%;
    margin-left: 5px;
    margin-top: 5px;
}
.botonIconoEliminar{
    height: 100% ;
    border: none;
    background-color: transparent;
}
.iconoEliminar{
    height: 90%;
    margin-top: 5px;
}
